extends layout

block content
    div(ng-init="name='AngularJS'")
        input(type='text',ng-model='name')
        div 
            h2 {{name}}
    - for (var x = 0; x < 3; x++)
        li x
        
            
